h1{
  background-color: aquamarine;
  text-align:center;
  padding: 10px;
  border-radius: 10px;
}

h3{
  text-align: center;
}

.button{
  background-color: aquamarine;
  color: black;
  text-align:center;
  padding: 15px 25px;
  font-size:24px;
  margin:5px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

div{
  text-align:center;
}